In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [74]:
df = pd.read_csv("depression_data.csv")

In [75]:
df.head()

,Name,Age,Marital Status,Education Level,Number of Children,Smoking Status,Physical Activity Level,Employment Status,Income,Alcohol Consumption,Dietary Habits,Sleep Patterns,History of Mental Illness,History of Substance Abuse,Family History of Depression,Chronic Medical Conditions
0,Christine Barker,31,Married,Bachelor's Degree,2,Non-smoker,Active,Unemployed,26265.67,Moderate,Moderate,Fair,Yes,No,Yes,Yes
1,Jacqueline Lewis,55,Married,High School,1,Non-smoker,Sedentary,Employed,42710.36,High,Unhealthy,Fair,Yes,No,No,Yes
2,Shannon Church,78,Widowed,Master's Degree,1,Non-smoker,Sedentary,Employed,125332.79,Low,Unhealthy,Good,No,No,Yes,No
3,Charles Jordan,58,Divorced,Master's Degree,3,Non-smoker,Moderate,Unemployed,9992.78,Moderate,Moderate,Poor,No,No,No,No
4,Michael Rich,18,Single,High School,0,Non-smoker,Sedentary,Unemployed,8595.08,Low,Moderate,Fair,Yes,No,Yes,Yes

In [64]:
(df["Marital Status"] == "Divorced").sum()

np.int64(32729)

In [65]:
df["Marital Status"] = np.where(
        df["Marital Status"] == "Widowed", 0,
        np.where(
            df["Marital Status"] == "Divorced", 1, 
                np.where(
                    df["Marital Status"] == "Single", 2, 3
                        )
                )
    ).astype(np.int8)

In [66]:
(df["Marital Status"] == 1).sum()

np.int64(32729)

In [69]:
import toolkit

In [76]:
df = toolkit.pipeline(df)

In [77]:
df["Marital Status"].value_counts()

Marital Status
3    308929
2     72110
0     32729
Name: count, dtype: int64

In [29]:
categorical_columns = [colname for colname in df.columns if df[colname].dtype in [np.int8, np.int64] and colname != "Age"]

In [31]:
categorical_columns = np.array(categorical_columns)

In [41]:
all_combinations = [list(categorical_columns[[i, j]]) for i in range(len(categorical_columns)-1) for j in range(i, len(categorical_columns))]

In [42]:
all_combinations

[[np.str_('Marital Status'), np.str_('Marital Status')],
 [np.str_('Marital Status'), np.str_('Education Level')],
 [np.str_('Marital Status'), np.str_('Number of Children')],
 [np.str_('Marital Status'), np.str_('Smoking Status')],
 [np.str_('Marital Status'), np.str_('Physical Activity Level')],
 [np.str_('Marital Status'), np.str_('Alcohol Consumption')],
 [np.str_('Marital Status'), np.str_('Dietary Habits')],
 [np.str_('Marital Status'), np.str_('Sleep Patterns')],
 [np.str_('Marital Status'), np.str_('History of Mental Illness')],
 [np.str_('Marital Status'), np.str_('History of Substance Abuse')],
 [np.str_('Marital Status'), np.str_('Family History of Depression')],
 [np.str_('Marital Status'), np.str_('Chronic Medical Conditions')],
 [np.str_('Marital Status'), np.str_('Employed')],
 [np.str_('Education Level'), np.str_('Education Level')],
 [np.str_('Education Level'), np.str_('Number of Children')],
 [np.str_('Education Level'), np.str_('Smoking Status')],
 [np.str_('Education Level'), np.str_('Physical Activity Level')],
 [np.str_('Education Level'), np.str_('Alcohol Consumption')],
 [np.str_('Education Level'), np.str_('Dietary Habits')],
 [np.str_('Education Level'), np.str_('Sleep Patterns')],
 [np.str_('Education Level'), np.str_('History of Mental Illness')],
 [np.str_('Education Level'), np.str_('History of Substance Abuse')],
 [np.str_('Education Level'), np.str_('Family History of Depression')],
 [np.str_('Education Level'), np.str_('Chronic Medical Conditions')],
 [np.str_('Education Level'), np.str_('Employed')],
 [np.str_('Number of Children'), np.str_('Number of Children')],
 [np.str_('Number of Children'), np.str_('Smoking Status')],
 [np.str_('Number of Children'), np.str_('Physical Activity Level')],
 [np.str_('Number of Children'), np.str_('Alcohol Consumption')],
 [np.str_('Number of Children'), np.str_('Dietary Habits')],
 [np.str_('Number of Children'), np.str_('Sleep Patterns')],
 [np.str_('Number of Children'), np.str_('History of Mental Illness')],
 [np.str_('Number of Children'), np.str_('History of Substance Abuse')],
 [np.str_('Number of Children'), np.str_('Family History of Depression')],
 [np.str_('Number of Children'), np.str_('Chronic Medical Conditions')],
 [np.str_('Number of Children'), np.str_('Employed')],
 [np.str_('Smoking Status'), np.str_('Smoking Status')],
 [np.str_('Smoking Status'), np.str_('Physical Activity Level')],
 [np.str_('Smoking Status'), np.str_('Alcohol Consumption')],
 [np.str_('Smoking Status'), np.str_('Dietary Habits')],
 [np.str_('Smoking Status'), np.str_('Sleep Patterns')],
 [np.str_('Smoking Status'), np.str_('History of Mental Illness')],
 [np.str_('Smoking Status'), np.str_('History of Substance Abuse')],
 [np.str_('Smoking Status'), np.str_('Family History of Depression')],
 [np.str_('Smoking Status'), np.str_('Chronic Medical Conditions')],
 [np.str_('Smoking Status'), np.str_('Employed')],
 [np.str_('Physical Activity Level'), np.str_('Physical Activity Level')],
 [np.str_('Physical Activity Level'), np.str_('Alcohol Consumption')],
 [np.str_('Physical Activity Level'), np.str_('Dietary Habits')],
 [np.str_('Physical Activity Level'), np.str_('Sleep Patterns')],
 [np.str_('Physical Activity Level'), np.str_('History of Mental Illness')],
 [np.str_('Physical Activity Level'), np.str_('History of Substance Abuse')],
 [np.str_('Physical Activity Level'), np.str_('Family History of Depression')],
 [np.str_('Physical Activity Level'), np.str_('Chronic Medical Conditions')],
 [np.str_('Physical Activity Level'), np.str_('Employed')],
 [np.str_('Alcohol Consumption'), np.str_('Alcohol Consumption')],
 [np.str_('Alcohol Consumption'), np.str_('Dietary Habits')],
 [np.str_('Alcohol Consumption'), np.str_('Sleep Patterns')],
 [np.str_('Alcohol Consumption'), np.str_('History of Mental Illness')],
 [np.str_('Alcohol Consumption'), np.str_('History of Substance Abuse')],
 [np.str_('Alcohol Consumption'), np.str_('Family History of Depression')],
 [np.str_('Alcohol Consumption'), np.str_('Chronic Medical Conditions')],
 [np.str_('Alcohol Consumption'), np.str_('Employed')],
 [np.str_('Dietary Habits'), np.str_('Dietary Habits')],
 [np.str_('Dietary Habits'), np.str_('Sleep Patterns')],
 [np.str_('Dietary Habits'), np.str_('History of Mental Illness')],
 [np.str_('Dietary Habits'), np.str_('History of Substance Abuse')],
 [np.str_('Dietary Habits'), np.str_('Family History of Depression')],
 [np.str_('Dietary Habits'), np.str_('Chronic Medical Conditions')],
 [np.str_('Dietary Habits'), np.str_('Employed')],
 [np.str_('Sleep Patterns'), np.str_('Sleep Patterns')],
 [np.str_('Sleep Patterns'), np.str_('History of Mental Illness')],
 [np.str_('Sleep Patterns'), np.str_('History of Substance Abuse')],
 [np.str_('Sleep Patterns'), np.str_('Family History of Depression')],
 [np.str_('Sleep Patterns'), np.str_('Chronic Medical Conditions')],
 [np.str_('Sleep Patterns'), np.str_('Employed')],
 [np.str_('History of Mental Illness'), np.str_('History of Mental Illness')],
 [np.str_('History of Mental Illness'), np.str_('History of Substance Abuse')],
 [np.str_('History of Mental Illness'),
  np.str_('Family History of Depression')],
 [np.str_('History of Mental Illness'), np.str_('Chronic Medical Conditions')],
 [np.str_('History of Mental Illness'), np.str_('Employed')],
 [np.str_('History of Substance Abuse'),
  np.str_('History of Substance Abuse')],
 [np.str_('History of Substance Abuse'),
  np.str_('Family History of Depression')],
 [np.str_('History of Substance Abuse'),
  np.str_('Chronic Medical Conditions')],
 [np.str_('History of Substance Abuse'), np.str_('Employed')],
 [np.str_('Family History of Depression'),
  np.str_('Family History of Depression')],
 [np.str_('Family History of Depression'),
  np.str_('Chronic Medical Conditions')],
 [np.str_('Family History of Depression'), np.str_('Employed')],
 [np.str_('Chronic Medical Conditions'),
  np.str_('Chronic Medical Conditions')],
 [np.str_('Chronic Medical Conditions'), np.str_('Employed')]]

In [43]:
len(all_combinations)

90

In [ ]:
for i in range(90):
    combination = all_combinations[i]
    df = df.groupby(combination)["Chronic Medical Conditions"].mean().reset_index()

In [44]:
i = 1

In [45]:
combination = all_combinations[i]
x = df.groupby(combination)["Chronic Medical Conditions"].mean().reset_index()

In [46]:
x

    Marital Status  Education Level  Chronic Medical Conditions
0                0                0                    0.326254
1                0                2                    0.326437
2                0                3                    0.324710
3                0                4                    0.333898
4                2                0                    0.345771
5                2                2                    0.334284
6                2                3                    0.344271
7                2                4                    0.340391
8                3                0                    0.325936
9                3                2                    0.326796
10               3                3                    0.325189
11               3                4                    0.327611

In [47]:
df_wide = x.pivot(index=combination[0], columns=combination[1], values="Chronic Medical Conditions")

In [48]:
df_wide

Education Level         0         2         3         4
Marital Status
0                0.326254  0.326437  0.324710  0.333898
2                0.345771  0.334284  0.344271  0.340391
3                0.325936  0.326796  0.325189  0.327611